.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  margin: 0;
  padding: 0;
}

.fullscreen-chat {
  height: 100vh !important;
  width: 100vw !important;
  flex: 1;
  margin: 0;
  padding: 0;
  border: none;
}
